<html lang='en'>
  {{>header}}

  <body id='page-top'>

    <!-- Page Wrapper -->
    <div id='wrapper'>

      <div id='content-wrapper' class='d-flex flex-column'>
        <div id='content'>

          <div class='container-fluid'>
            {{{body}}}
          </div>

        </div>
      </div>
    </div>

  <script src="/js/bootstrap.min.js"></script>
  </body>

</html>